.article{
    width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-top: 3rem;
  margin-top: 1rem;
  padding-top: 12px;
  margin-bottom: 1rem;
}

.article-title{
    color: #333;
    font-size: 3rem;
    margin-bottom: 3px;
}

.article-content-text{
    font-size: 1.1rem;
    text-align: justify;
    padding: 1rem;
}

.article:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transition: 1s;
}

img{
    max-width: 25%;
    max-height: 15%;
    height: auto;
}
.article-content-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
