.card-link{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
}

.card-link:hover{
    color: #333;
    text-decoration: underline;
}

.card:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transition: 1s;
}

.card img{
    max-width: 25%;
    max-height: 25%;
    height: auto;
    border-radius: 5%;
}