/*These are the colors used throughout the app.*/
:root{
    /*Light mode*/
    --background-color-light: #fefae0;
    --light-contrast-light: #dda15e;
    --accent-light: #bc6c25;
    --contrast-light: #283618;
    --contrast-lighter-light: #606c38;
}
// light mode
$--background-color: #fefae0;
$--light-contrast: #dda15e;
$--accent: #bc6c25;
$--contrast: #283618;
$--contrast-lighter: #606c38;
/*Dark mode*/
