//we import the scss variables from the file Color-palette.scss
@import './Color-palette.scss';


.Name-center{
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//ton contain the individual letters for the animation

.letters-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $--ContrastDark;
}

//the individual letters

.letter{
    background-color: $--ContrastDark;
    padding: 0.1rem;
    font-size: 5rem;
    display: inline-block;
    color: $--BackgroundColorDark;
}



.letter-animation{
    animation: letter-animation 1s ease-in-out infinite;
    animation-delay: calc(0.3s * var(--i));
}

.special-letter-animation{
    color: $--accent;
}

.blinking-letter{
    animation: blinking-letter 1s ease-in-out infinite;
}






//we define the keyframes for the animation

@keyframes letter-animation{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0);
    }
}


@keyframes blinking-letter{
    0%{
        color: white;
        transform: translateY(0);
    }
    50%{
        color: $--BackgroundColorDark;
        transform: translateY(-1rem);

    }
    100%{
        color: white;
        transform: translateY(0);
    }

}
