//we import the color palette scss file into the top bar scss file
@import "./Color-palette.scss";



.Name{
    padding-left: 3%;
    color:$--ContrastDark;
}

.NavBarDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-right: 3%;
}

.NavBarDiv h4 {
    margin: 0;
    padding: 1rem;
}

.TopBarLink{
    text-decoration: none;
    color: $--ContrastDark;
    font-size: 1.5rem;
    padding: 1rem;
    
}