.nav-item{
    font: 1.1rem 'Roboto', sans-serif;
    color: #000;
    border-radius: 0.5rem;
    text-decoration: none;
}

.nav-item:hover{
    background-color: darkgray;
    color: #fff;
    transition: 1s;
}