

.Name{
    padding-left: 3%;
}

.NavBarDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.NavBarDiv h4 {
    margin: 0;
    padding: 1rem;
}