.Articles-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.FilterSelectorContainer{
  width: 64%;
  margin: 0 auto;
  padding: -10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
}

.FilterSelectorContainer:hover{
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transition: 1s;
}

a{
  color: #333;
}

.custom-button2{
    background-color: aliceblue;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
}