//we import the color palette from the file Color-palette.scss
@import './components/styles/Color-palette.scss';

.Articles-container{
    flex: 1;
  max-width: 1300px;
}

.Corpus-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; 
  padding: 1rem; 
  box-sizing: border-box; 
}

:root{
  font-family: 'Bricolage Grotesque', sans-serif;
}

.FilterSelectorContainer{
  margin: 0 auto;
  padding: -10px;
  background-color: $--accent;
  border: 1px solid $--contrast;
  border-radius: 4px;
  margin-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  max-width: 300px;
}

.FilterSelectorContainer:hover{
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transition: 1s;
}

a{
  color: #333;
}



.custom-button2{
    background-color: aliceblue;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
}

.TopBar{
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
}