/* we import the Color-palette from the file Color-palette.js */
@import './components/styles/Color-palette.scss';

body{
    // we use the variable from Color-palette.scss! for exemple the variable $background-color-light
    //background-color: $--BackgroundColorDark;
    background-color: black;
    color: $--ContrastDark;
    transition: background-color 1s, color 1s ease-out;
}

.LandingPage{
    background-image: url("./assets/wp.jpg");
    background-size: cover;
}

.a404error{
    //we center the div
    justify-content: center;
    margin-right: 50%;
}

.about-me{
//we add the "neon blinking animation"
animation: blinking-neon-glow 4s ease-in-out infinite;
}

.article{
animation: blinking-neon-glow 4s ease-in-out infinite;
}

h3{
    color: $--ContrastDark;
}

.NameTitle{
    background-color: green;
}

a{
    color:$--ContrastDark;
}


//animation to add a neon blinking effect on the box shadow of a div
@keyframes blinking-neon-glow{
    0%{
        box-shadow: 0 0 22px 10px #441a43;
    }
    50%{
        box-shadow: 0 0 22px 10px #124153, 0 0 22px 10px #124153;
    }
    100%{
        box-shadow: 0 0 22px 10px #441a43;
    }
}

.TopBar{
    z-index: 8;
}