/* we import the Color-palette from the file Color-palette.js */
@import './components/styles/Color-palette.scss';

html {
  scroll-behavior: smooth;  
}

body{
    // we use the variable from Color-palette.scss! for exemple the variable $background-color-light
    background-color: $--background-color;
    transition: background-color 1s, color 1s ease-out;
}


.LandingPage{
    margin-bottom: 45rem;
}

.a404error{
    //we center the div
    justify-content: center;
    margin-right: 50%;
}